@model MonitoriOn.Models.Monitor

<div class="card">
    <div class="card-available">
        @if (Model.Count > 0)
        {
            <span class="notEmpty">В наличии</span>
        }
        else
        {
            <span class="empty">Нет в наличии</span>
        }
    </div>
    <div class="card-addToCart">
        <form method="post" asp-controller="Home" asp-action="Details">
            <input asp-for="@Model.Id" hidden />
            <button asp-action="Details" type="submit" class="btn-default" asp-route-Id="@Model.Id">В корзину</button>
        </form>
        <!-- Ссылаться на метод пост Details-->
    </div>
    <div class="card-img">
        <img src="@WC.ImagePath@Model.Image" alt="Изображение товара"/>
    </div>
    <div class="card-name">
        <h3>@Model.Name</h3>
    </div>
    <div class="card-price">
        <p>@Model.Price.ToString("C0")</p>
    </div>
    <div class="card-description">
        <div class="card-description-brand">
            <span>Бренд: </span><span>@Model.Brand?.Name</span>
        </div>
        <div class="card-description-displayResolution">
            <span>Разрешение: </span><span>@Model.DisplayResolution?.Name</span>
        </div>
        <div class="card-description-frameUpdate">
            <span>Частота обновления: </span><span>@Model.FrameUpdate?.Name Гц</span>
        </div>
    </div>
    <div class="card-details">
        <a asp-action="Details" class="btn-default" asp-route-Id="@Model.Id">Подробнее</a>
    </div>
</div>