@model List<MonitoriOn.Models.ViewModels.SupplyDogovorsProvider>

@{
    ViewData["Title"] = "Отчет про поставщиков товара";
}

@section head_Link
   {
    <link rel="stylesheet" href="~/css/Categories.min.css" />
}



@if (Model.Count() > 0)
{
    @foreach (var provider in Model)
    {
        <h2 style="margin-bottom: 10px; margin-top: 40px;">Поставщик: @provider.Provider</h2>
        <div class="main-header" id="MonitorsSoldHeader" style="margin-bottom: 10px;">
            <div class="main-header-title">
                <p>Название монитора</p>
            </div>
            <div class="main-header-block">
                <p>Количество</p>
            </div>
            <div class="main-header-block">
                <p>Цена</p>
            </div>
            <div class="main-header-block">
                <p>Бренд</p>
            </div>
            <div class="main-header-block">
                <p>Разрешение экрана</p>
            </div>
            <div class="main-header-block">
                <p>Частота обновления</p>
            </div>
        </div>
        <div class="main-body">
            @foreach (var monitor in provider.Monitors)
            {
                <div class="main-body-element" id="MonitorsSold">
                    <div class="main-body-element-name">
                        <h4>@monitor.Name</h4>
                    </div>
                    <div class="main-body-element-shortdesc">
                        <p>@monitor.Count</p>
                    </div>
                    <div class="main-body-element-director">
                        <p>@monitor.Price</p>
                    </div>
                    <div class="main-body-element-brand">
                        <p>@monitor.Brand.Name</p>
                    </div>
                    <div class="main-body-element-brand">
                        <p>@monitor.DisplayResolution.Name</p>
                    </div>
                    <div class="main-body-element-brand">
                        <p>@monitor.FrameUpdate.Name</p>
                    </div>
                </div>
            }
        </div>
    }
}
else
{
    <h3>Список пуст</h3>
}

<div class="main-footer" id="SupplyDogovorsFooter">
    <a asp-controller="Home" asp-action="Index" class="btn-default">Назад</a>
</div>