@page
@model LoginModel

@section head_Link
{
    <link rel="stylesheet" href="~/css/Authentication.min.css" />
}

@{
    ViewData["Title"] = "Авторизация";
}

<div class="login">
    <h1>@ViewData["Title"]</h1>

    <div class="login-enter">
        <section>
            <form id="account" class="form-login" method="post">

                <div>
                    <label asp-for="Input.Email" ></label>
                    <input asp-for="Input.Email" autocomplete="off" placeholder="Введите почту" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div>
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" autocomplete="off" placeholder="Введите пароль" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div>
                    <div>
                        <label asp-for="Input.RememberMe">
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                        </label>
                    </div>
                </div>

                <div asp-validation-summary="ModelOnly" class="text-danger validationLogin"></div>

                <button id="login-submit" type="submit" class="btn-default">Войти</button>

                <div class="form-forgotPassword">
                    <a id="forgot-password" asp-page="./ForgotPassword">Забыл пароль?</a>
                </div>

            </form>
        </section>
    </div>

    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
