@model IEnumerable<MonitoriOn.Models.Monitor>

@{
    ViewData["Title"] = "Мониторы";
}

@section head_Link
    {
    <link rel="stylesheet" href="~/css/Categories.min.css" />
}

<div class="main-header header-monitor">
    <div class="main-header-title">
        <h2>Список Мониторов</h2>
    </div>
    <div class="main-header-create">
        <a asp-controller="Monitor" asp-action="Upsert" class="btn-default">Добавить Монитор</a>
    </div>
</div>

@if (Model.Count() > 0)
{
    <div class="main-body">
        @foreach (var obj in Model)
        {
            <div class="main-body-element-monitor">
                <div class="main-body-element-monitor-name">
                    <h4>@obj.Name</h4>
                </div>
                <div class="main-body-element-monitor-price">
                    <p>@obj.Price.ToString("C0")</p>
                </div>
                <div class="main-body-element-monitor-count">
                    <p>@obj.Count шт.</p>
                </div>
                <div class="main-body-element-monitor-brand">
                    <p>@obj.Brand?.Name</p>
                </div>
                <div class="main-body-element-monitor-displayResolution">
                    <p>@obj.DisplayResolution?.Name</p>
                </div>
                <div class="main-body-element-monitor-frameUpdate">
                    <p>@obj.FrameUpdate?.Name</p>
                </div>
                <div class="main-body-element-monitor-shortdesc">
                    <p>@obj.ShortDescription</p>
                </div>
                <div class="main-body-element-monitor-buttons">
                    <a class="btn-default" asp-controller="Monitor" asp-action="Upsert" asp-route-Id="@obj.Id">Изменить</a>
                    <a class="btn-default" asp-controller="Monitor" asp-action="Delete" asp-route-Id="@obj.Id">Удалить</a>
                </div>
            </div>
        }
    </div>
}
else
{
    <h3>Список пуст</h3>
}

<div class="main-footer footer-monitor">
    <a asp-controller="Home" asp-action="Index" class="btn-default">Назад</a>
</div>
